body {
  text-align: center;
}

body h1 {
  font-size: 30px;
  text-transform: uppercase;
}

#playfield {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("images/bg_Cover02.jpg");
  background-size: cover;
  height: 100vh;
}

#playfield h1 a {
  margin: 50px;
  font-size: 3em;
  text-align: center;
  box-shadow: 5px 5px 10px 0 black;
  padding: 20px;
  border-radius: 10px;
  /* color: #FFF0A5 */
  text-decoration: none;
  color: black;
}

.right-half {
  order: 1;
  align-self: center;
}
canvas {
  max-height: 85vh;
  max-width: 65%;
  margin-right: 10vw;
  border-radius: 20px;
  margin: 70px;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.459);
}

.game-btn {
  color: black;
  font-size: 1.7em;
  text-align: center;
  border: 0.5px solid #eee;
  margin: 0 auto;
  /* background-color: #EFCB9B; */
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 10px 10px 10px  rgba(0, 0, 0, 0.459);
  /* margin: 50px 5% 0 5%; */
  padding: 20px;
  width: 200px;
  margin-bottom: 0px;
  order: 1;
}

#stop-button {
  display: none
}

.game-btn a {
  text-decoration: none;
  color: black;
}

#timerSec {
  font-size: 1.7em;
  text-align: center;
  border: 2px solid #eee;
  /* background-color: rgba(159, 188, 169, 0.527); */
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 10px 10px 10px  rgba(0, 0, 0, 0.459);
  /* margin: 50px 5% 0 5%; */
  padding: 20px;
  margin: 20px 0;
  width: 200px;
  display: none;
}

#timerText {
  font-size: 1.2em;
  text-align: center;
  border: 2px solid #eee;
  /* background-color: rgba(159, 188, 169, 0.527); */
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 10px 10px 10px  rgba(0, 0, 0, 0.459);
  /* margin: 50px 5% 0 5%; */
  padding: 20px;
  width: 200px;
  display: none;
}

#input-player {
  opacity: 0.75;
  font-size: 1em;
  display: none;
}


#img-controls {
  margin-top: 50px;
  display: block;
  width: 20vw;
}

#game-over {
  background-image: url("images/bg_Cover02.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: none;

}

#img-game-over {
  width: 100vw
}

.score-text {
  margin: 50px;
  font-size: 3em;
  text-align: center;
  box-shadow: 5px 5px 10px 0 black;
  padding: 20px;
  border-radius: 10px;
  /* color: #FFF0A5 */
  text-decoration: none;
  color: black;
}